"\e[A": history-search-backward
"\e[B": history-search-forward

TAB: menu-complete
"\e[Z": menu-complete-backward

set completion-ignore-case on
set completion-query-items 1000
set print-completions-horizontally on
set revert-all-at-newline on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
