[status]
	showUntrackedFiles = no
	relativePaths = false
[alias]
	edit = !${EDITOR%% *} +0G
	update = !git pull && ./setup
	# remove danger of --include-untracked
	s = stash
	sk = stash push --keep-index --quiet
